{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}


    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>



    <!-- ##### Breaking News Area Start ##### -->
    <section class="breaking-news-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Breaking News Widget -->
                    <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                        <div class="title">
                            <h6>Trending</h6>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">

                            <ul>
                                {% for post in latest_two %}
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breaking News Area End ##### -->



    <!-- ##### Intro News Area Start ##### -->
    <section class="intro-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Intro News Tabs Area -->
                <div class="col-12 col-lg-8">
                    <div class="intro-news-tab">

                        <!-- Intro News Filter -->
                        <div class="intro-news-filter d-flex justify-content-between">
                            <h6>All the news</h6>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="?date_min" role="tab" aria-controls="nav-1" aria-selected="true" value="date_min">Latest</a>
                                    <a class="nav-item nav-link" id="nav2" data-toggle="tab" href="?date_min" role="tab" aria-controls="nav-2" aria-selected="false">Popular</a>
                                    <a class="nav-item nav-link" id="nav3" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">International</a>
                                    <a class="nav-item nav-link" id="nav4" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Local</a>
                                </div>
                            </nav>
                        </div>

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                                <div class="row">
                                    {% for post in latest_two %}
                                    <!-- Single News Area -->
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            {% if post.thumbnail %}
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{ post.thumbnail.url }}" alt=""></a>
                                            </div>
                                            {% endif %}
                                         

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                            
                                                <span class="post-date">{{ post.date|timesince }} ago</span>
                                                <a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a>
                                                <a href="{{ post.author.profile.get_absolute_url }}" class="post-author">{{ post.author }}</a>
                                                   <!-- Post Author -->
                            
                                            </div>
                                            <div class="comment-content d-flex">
                                                <div class="comment-author">
                                                    <img src="" alt="" class="rounded-circle article-img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                                    

                            <div class="tab-pane fade show active" id="nav-2" role="tabpanel" aria-labelledby="nav2">
                                <div class="row">
                                    
                                    {% for post in latest %}
                                    <!-- Single News Area -->
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post d-flex style-4 mb-30">
                                            {% if post.thumbnail %}
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{ post.thumbnail.url }}" alt=""></a>
                                            </div>
                                            {% endif %}
                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{ post.date|timesince }} ago</span>
                                                <a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a>

                                                   <a href="{{ post.author.profile.get_absolute_url }}" class="post-title"><small >{{ post.author }}</small></a>


                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

                <!-- Sidebar Widget -->
        <section>
            
        </section>


    <!-- ##### Video Area Start ##### -->
    {% for video in video1 %}
    <section class="video-area bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/10.jpg);">
        <div class="container">
            <div class="row">
                Featured Video Area 
                <div class="col-12">
                    <div class="featured-video-area d-flex align-items-center justify-content-center">
                        <div class="video-content text-center">
                            
                             <a href="{{ vid.get_absolute_url }}">{% video video.video 'small' %}</a>
                            <span class="published-date">{{ video.date|timesince }} ago</span>
                            <a href="{{ video.author.profile.get_absolute_url }}" class="post-author"><h3 class="video-title">{{ video.title }}</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}


        <!-- Video Slideshow -->
        <div class="video-slideshow py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Video Slides -->
                        <div class="video-slides owl-carousel">

                            {% for vid in video5 %}
                            <!-- Single News Area -->
                            <div class="single-blog-post style-3">
                                <!-- Blog Thumbnail -->
                                <div class="blog-thumbnail">
                                    <a href="{{ vid.get_absolute_url }}">{% video vid.video 'small' %}</a>
                                   
                                </div>

                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <span class="post-date">{{ vid.date|timesince }} ago</span>
                                    <a href="{{ vid.get_absolute_url }}"><p class="post-title">{{ vid.title }}</p></a>
                                    <a href="{{ vid.author.profile.get_absolute_url }}" class="post-author">{{ vid.author }}</a>
                                </div>
                            </div>
                            {% endfor %}

                            

       

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Video Area End ##### -->

    <!-- ##### Top News Area Start ##### -->
    <div class="top-news-area section-padding-100">
        <div class="container">
            <div class="row">

            {% for post in latest %}
                <!-- Single News Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-blog-post style-2 mb-5">
                        <!-- Blog Thumbnail -->
                        {% if post.thumbnail %}
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{{ post.thumbnail.url }}" alt=""></a>
                            </div>
                        {% endif %}
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <span class="post-date">{{ post.date|timesince}} ago</span>
                            <a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a>
                            <a href="{{ post.author.profile.get_absolute_url }}" class="post-author">{{ post.author }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


                <div class="col-12">
                    <div class="load-more-button text-center">
                        <a href="#" class="btn newsbox-btn">Load More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Top News Area End ##### -->

    <!-- ##### Add Area Start ##### -->
    <div class="big-add-area mb-100">
        <div class="container-fluid">
            <a href="#"><img src="img/bg-img/add2.png" alt=""></a>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->
{% endblock content %}
